body {
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cards {
	background-color: lightgray;
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

.cards > div {
	width: 28vw;
	height: 34vh;
	border-radius: 0.5vw;
	background-color: whitesmoke;
	justify-content: space-evenly;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.cards > div:hover {
	background-color: lightgreen;
}

.card1,
.card2,
.card3 {
	display: grid;
	grid-template-columns: 0.8fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"img h2 h2"
		"img h3 h3"
		"a a a";
}

h2,
h3,
a,
img {
	margin: 0;
	padding: 0;
	justify-self: center;
	align-self: center;
}

img {
	grid-area: img;
	width: 60px;
	border-radius: 50%;
}

h2 {
	grid-area: h2;
	justify-self: start;
	align-self: end;
	font-size: 1.5rem;
}

h3 {
	grid-area: h3;
	align-self: end;
	font-size: 1.2rem;
	margin-right: 1.5rem;
	color: gray;
	line-height: 1.75rem;
}

a {
	grid-area: a;
	justify-self: start;
	font-size: 1.2rem;
	margin-left: 1.5rem;
	color: gray;
	text-decoration: none;
}

a img {
	width: 1.1rem;
	transform: rotate(45deg);
	position: relative;
	left: 15vw;
}

/* Mobile layout controls below  */

/* .cards {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.cards > div {
	height: 20vh;
	width: 80vw;
}

h3 {
	line-height: 1.25rem;
}

h2 {
	align-self: center;
}

a img {
	margin: 0;
}

a {
	align-self: center;
	color: red;
} */
